<h1>Eat-Da-Burger!</h1>

<ul>
    {{#each burger}}
     {{#if devourIt}}
        {{> burger/burger-block devourIt=false}}
     {{/if}}
    {{/each}}    
</ul>

<h2>Enter a burger you want to eat. Click the "Submit" button</h2>
<form class="create-form">

    <div class="form-group">
        <label for="bu">Burger Name:</label>
        <input type="radio" name="devour" value="1" checked> Devour it!<br>
        <input type="radio" name="devour" value="0"> 
    </div>
    <button type="submit">Submit</button>
</form>